*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}
a{
    text-decoration: none;
}
.main-container{
    display: flex;
}
main{
    padding: 20px;
    width: 100%;
}
.title{
   font-size: 30px; 
}
.sidebar{
    background: rgb(0, 7, 61);
    color: #fff;
    height: 100vh;
    width: 100vw;
}

.top_section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
}
.logo{
    font-size: 18px;
    line-height: 0;
}
.search{
    display: flex;
    align-items: center;
    margin: 10px 0;
    height: 30px;
    padding: 10px;
}
.search input{
    border: none;
    margin-left: 10px;
    border-radius: 5px;
    background: #fff;
}
.link{
    display: flex;
    color: #fff;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-right: 4px solid transparent;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.link:hover{
    border-right: 4px solid #fff;
    transition: 0.2s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    background: rgb(45,51,89);
}
.active{
    border-right: 4px solid #fff;
    background: rgb(45,51,89);
}

.link_text{
    white-space: nowrap;
    font-size: 15px;
    margin-top: 8px;
}
.icon{
    font-size: 20px;
}